.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 60px);
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #333;
  text-align: center;

  .header {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .rainbow {
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff8000,
      #ffff00,
      #80ff00,
      #00ff00,
      #00ff80,
      #00ffff,
      #0080ff,
      #0000ff,
      #8000ff,
      #ff00ff,
      #ff0080,
      #ff0000
    );
    background-size: 300% 300%;
    animation: rainbow 2s linear infinite;
    font-weight: 900;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @keyframes rainbow {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 150% 50%;
      }
    }
  }
}
